.react-calendar  {
    width: 18rem !important ;
}

.react-date-picker__inputGroup {
    min-width: calc((4px * 3) + 0.217em * 2) !important;
}

  .react-calendar__decade-view .react-calendar__tile {
      padding: 0.5em 0.5em !important;
  }